<%- include('partials/header') %>

    <body>
        <img class="center" src="/img/plank.jpg" alt="a man doing a plank exercise">

        <h1>Welcome <%= username %>!</h1> <a href="/logout">Logout</a>
    </body>

    </html>

    <%- include('partials/footer') %>